

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  img {
    max-width: 100%;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    color: #424A57;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  p {
    padding: 0;
    margin: 0;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
.header {
    background-color: #424A57;
}
.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}
.flex {
    display: flex;
}

.header-container {
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    flex-direction: row;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.header__nav-link {
  transition: color .5s;
}
.header__nav-link:hover {
  color: #0096A7;
}
.header__nav-link:not(:last-child) {
    margin-right: 32px;
}
.hero {
  background-color: #F6F8FB;
}
.hero-container {
  position: relative;
  padding: 100px 100px;
}
.swiper-container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.hero__header {
    font-size: 54px;
    color: #424A57;
    margin-bottom: 32px;
}
.hero__text {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 32px;
}

.hero__btn {
    padding: 16px 32px;
    color: white;
    font-weight: bold;
    background-color: #0096A7;
    border: 2px solid #0096A7;
    border-radius: 50px;
    transition: border .3s;
}
.hero__btn:hover {
  border: 2px solid #004850;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 56px;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  border: 4px solid #0096A7;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #0096A7;
}


.features-container {
  margin-bottom: 85px;
}
.fuatures__tabs-list {
  border-bottom: 1px solid #E1E1E1;
  
}

.features__tabs-item:not(:last-child) {
  margin-right: 32px;
}
.features__tabs-btn {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: rgba(66, 74, 87, 0.5);
  padding-bottom: 5px;
}
.active {
  color: #0096A7;
  border-bottom: 1px solid #0096A7;
  margin-bottom: -1px;
}

.hidden {
  display: none;
}
.features__tabs-text {
  width: 55%;
}
.benefits {
  margin-bottom: 85px;
}

.benefits__title {
  font-size: 48px;
  margin-bottom: 32px;
}
.benefits__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.benefits__card-image {
  margin-bottom: 32px;
}
.benefits__card-title {
  margin-bottom: 24px;
}
.benefits__card-text {
  font-size: 18px;
  line-height: 28px;
}

.footer {
  background-color: rgba(66, 74, 87, 0.5);
}
.footer-container {
  padding: 47px 100px;
  justify-content: space-between;
}
.footer__copyright-text {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.footer__social-link:not(:last-child) {
  margin-right: 24px;
}
.footer__social-link svg rect,
.footer__social-link svg rect {
  transition: fill .4s;
}
.footer__social-link svg:hover rect {
  fill: #0096A7;
}
.footer__social-link svg:hover path {
  fill: white;
}